
@{
    ViewBag.Title = "Bosquejo";
}
<div align="center">
    <h3>Que he aprendido hasta ahora sobre ASP.NET?</h3>
    <img src="@Url.Content("~/Images/asp.net.jpg")" width="300px" height="200px" alt="imgf" />
    <p>
        Este frammework es algo riguro, es decir, hay que ser muy especifico al aplicar las rutas, ya que, al colocar las rutas con espaciado
        que no lleva te puede provocar un error y quizas; te puede romper la cabeza buscandolo.
    </p>
</div>



