
@{
    ViewBag.Title = "Estudiante";
}

<div align="center" >
    <h3>Datos Estudiante</h3>
 <h4>Nombre:</h4>
    <p>Luis Angel Montero Medina.</p>
    <img src="@Url.Content("~/Images/Luis_Montero.jpg")" width="400px" height="400px" alt="imgf" />
    <h4>Matricula:</h4>
    <p>2019-8769.</p>
    <h4>Seccion:</h4>
    <p>Martes, Grupo 4.</p>
</div>

   




