
@{
    ViewBag.Title = "Inicio";
}
<div align="center">
    <h2>Welcome to Back to Back</h2>
    <img src="@Url.Content("~/Images/ITLA.jpg")" width="500px" height="400px" alt="imgf" />
    <div align="center">
        <a href="Welcome/Estudiante" class="btn btn-primary">Entrar</a>
    </div>
</div>



