
@{
    ViewBag.Title = "Pilares";
}
<div align="center">
    <h2>Los Pilares de la Programacion </h2>
</div>


<h3>Abstraccion: </h3>
<p>
    Es la tendencia a especificar un atributo o funcionalidad de un objeto en particular, es decir,
    es la forma de identificar funcionalidades necesarias sin entrar en detalle de lo que estamos haciendo .
</p>
<h3>Encapsulamiento: </h3>
<p>
    Es el nivel de proteccion que posee la informacion de una clase o objeto, es decir, el nivel de acceso a los datos.
</p>
<h3>Herencia: </h3>
<p>
    Es la mejor forma de reutilizacion de codigo.
    Ej: La clase hija puede utilizar sus propios metodos como tambien los de su padre.
</p>
<h3>Polimorfismo: </h3>
<p>
    Es lo mismo, practicamente, que la herencia; no obstante, la clase hija usa el mismo metodo, pero con otra funcionalidad.
</p>



